body{
   text-align:center;
   margin: 0;
   font-family:san-serif;
}
#page-heading{
text-align:center;
/* margin-top:25px; */
color:grey;
}

#contacts-list-container ul{
padding:0;
list-style:none;

}
#contacts-list-container {
   /* display: flex;
   flex-direction: column;
   flex-wrap:wrap;
  justify-content: center; */
   /* margin-left:120px; */
   margin:auto;
}
.contact{
   padding: 3px 10px;
   border: 1px solid white;
   background-color: #6f92f9;
   box-shadow: 1px 1px 1px 1px lightgrey;
   color:white;
   display: flex;
   margin:auto;
   width:50%;
 
}
.contact:hover{
   background-color: grey;
}
.fa-window-close:hover{
   background-color: grey;
}
.contact .details{
   display: flex;
   flex-direction: row;
   flex-wrap:wrap;
   justify-content: space-between;
   width: 90%;
}
.contact .delete-button{
   width:10%;
   /* padding:3px; */
text-align:center;
margin-top:5px;
margin-top:5px;
}
.contact .delete-button a{
   color:white;
   background-color: red;
}
input{
   border:1px Solid grey;
   padding:5px;
}
button{
   width:50px;
   padding:5px;
   color:white;
   background-color: grey;
}